*.patch
.idea/**/*.iml
.idea/**/*.xml
.idea/codeStyles
.DS_Store
*.orig
*.rej
*.db
*.dat
*.txn
*.log
*.csv
*.zip
*.tgz
/vendor/*
elastos*/
node_modules
logs
/ela*
/bin
/tmp
/go.sum
keystore
*.out
*.test
package-lock.json
benchmark/process/run-to-height
